<a href="https://colab.research.google.com/github/d-tomas/data-mining/blob/main/notebooks/exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejercicio: un poco de Pandas

In [1]:
# Pasos previos

import pandas as pd

data = pd.read_csv('https://raw.githubusercontent.com/d-tomas/data-mining/main/datasets/metal_bands.csv')

**1.** Muestra por pantalla todos los datos de las 10 primeras bandas

In [2]:
data.head(10)

,Unnamed: 0,band_name,fans,formed,origin,split,style
0,0,Iron Maiden,4195,1975,United Kingdom,-,"New wave of british heavy,Heavy"
1,1,Opeth,4147,1990,Sweden,1990,"Extreme progressive,Progressive rock,Progressive"
2,2,Metallica,3712,1981,USA,-,"Heavy,Bay area thrash"
3,3,Megadeth,3105,1983,USA,1983,"Thrash,Heavy,Hard rock"
4,4,Amon Amarth,3054,1988,Sweden,-,Melodic death
5,5,Slayer,2955,1981,USA,1981,Thrash
6,6,Death,2690,1983,USA,2001,"Progressive death,Death,Progressive thrash"
7,7,Dream Theater,2329,1985,USA,1985,Progressive
8,8,Black Sabbath,2307,1968,United Kingdom,-,"Doom,Heavy,Hard rock"
9,9,Nightwish,2183,1996,Finland,1996,"Symphonic power,Gothic,Symphonic"

**2.** Muestra por pantalla el nombre de las 5 últimas bandas

In [7]:
data["band_name"].tail(5)

4995              Atara
4996         Avicularia
4997              Awake
4998             Axatak
4999    Axis Of Despair
Name: band_name, dtype: object

**3.** Cambia el nombre de la primera columna por 'ranking'

In [8]:
data.rename(columns={"Unnamed: 0": "ranking"}).head()

,ranking,band_name,fans,formed,origin,split,style
0,0,Iron Maiden,4195,1975,United Kingdom,-,"New wave of british heavy,Heavy"
1,1,Opeth,4147,1990,Sweden,1990,"Extreme progressive,Progressive rock,Progressive"
2,2,Metallica,3712,1981,USA,-,"Heavy,Bay area thrash"
3,3,Megadeth,3105,1983,USA,1983,"Thrash,Heavy,Hard rock"
4,4,Amon Amarth,3054,1988,Sweden,-,Melodic death

**4.** Muestra el nombre, país de origen y el número de fans de las bandas que se formaron en 1980

In [9]:
data.loc[data["formed"] == "1980", ["band_name", "origin", "fans"]]

                   band_name           origin  fans
120                   Exodus              USA   937
132                  Manowar              USA   863
141                    Sodom          Germany   783
142                 Overkill              USA   770
277             Grave Digger          Germany   328
323             Metal Church              USA   268
1026              Holy Moses          Germany    58
1152                    Tank   United Kingdom    49
1185  Arjen Anthony Lucassen  The Netherlands    46
1198                 Warlord              USA    46
1275          Vicious Rumors              USA    42
1494                  Sinner          Germany    32
1568                King's X              USA    29
1659               Bulldozer            Italy    26
1697              Blitzkrieg   United Kingdom    25
1732              Barón Rojo            Spain    24
1852                   Turbo           Poland    22
1938                Pokolgép          Hungary    20
2570              Iron Angel          Germany    11
2796               Moby Dick          Hungary     9
3074                  Malice              USA     7
3518                Vanadium            Italy     5
3854                 Cyclone          Belgium     3
4303             Legend (JE)           Jersey     2
4417         Spartan Warrior   United Kingdom     2

**5.** Muestra las 20 bandas españolas más antiguas

In [25]:
data.sort_values(by=["formed"]).head(20)["band_name"]

4948             Weapon UK
4599            Doomocracy
4821              Rustless
4442      Throes Of Sanity
256           Alice Cooper
197              Scorpions
1669                   Elf
1314                Budgie
609       Blue Öyster Cult
102           Led Zeppelin
167                 Accept
8            Black Sabbath
2403    Sir Lord Baltimore
58           Black Sabbath
145                   Rush
151            Deep Purple
517             Uriah Heep
61            Judas Priest
488             Thin Lizzy
285           King Crimson
Name: band_name, dtype: object